@charset "UTF-8";

html{
	width: 100%;
}
table th{
	padding: 10px,20px;
	background: #ababaf;
	font-family: 'TsukuARdGothic-Regular',sans-serif;
	font-size: 24px;
}
table td{
	padding: 3px, 20px;
	font-size: 28px;
}
table{
	border-color: #000;
}
#nav{
	border-bottom: 1px solid #ccc;
}
.link{
	margin: 5px, 20px
	list-style-type: none;
}
.link-box{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
#header_menu{
	width: 100%;
	heigth: 20%;
	font-size: 1.3rem;
	text-align: center;
	font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}
html, body{
	heigth: 600px;
}
#content{
	width: 100%;
    height: 60%x;
    text-align: center;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    background-image: url(WebContent/image-photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#footer{
	width: 100%;
    height: 20%;
    text-align: center;
    color: #fff;
    background-color: #8b0304;
}
.warning{
	color: red;
	font-size: 24px;
	line-height:1.5;
	border-width:2px 0;
    border-style:solid;
    border-color:#ff009c;
    margin:1em 0; padding:10px 10px 10px 35px;
}
table, tr, th, td {
	border: 1px solid #cccccc;
}

table {
	width: 100%;
	table-layout: fixed;
}

th {
	width: 26%;
	padding: 10px 2%;
}

td {
	width: 66%;
	padding: 10px 2%;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50% 50%;
	gap: 0%;
}
.item > p{
	font-family: 'Futura',sans-serif;
	font-size: 60px;
	color: #d42215;
}
.item > h3{
	font-size: 1.7rem;
}